#table-data-th-number{
    width: 10%
}
#table-data-th-user-id{
    width: 10%
}
#table-data-th-id{
    width: 10%
}
#table-data-th-title{
    width: 60%
}
#table-data-th-completed{
    width: 10%
}
.table-data-th{
    background-color: whitesmoke;
}
.form-button{
    height: 20px;
    width: 100px;
}