#calculator{
    position: relative;
    width:25%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;

}
#number1{
    position: relative;
    float: left;
    width: 40%;
    display: inline-block;
    border-radius: 1%;
}
#number2{
    position: relative;
    float: right;
    width: 40%;
    display: inline-block;
    border-radius: 1%;
}
#sign{
    position: relative;
    float: outside;
    display: inline-block;
    align-items: center;

}
#res{
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    font-family: "Monotype Corsiva", cursive;
}