body{
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(254,52,93,1) 100%); 
}
.phone{
	width: 350px;
	height: 680px;
	border: 5px solid #333;
	border-radius: 30px;
	margin-top: 100px;
	margin-left: 300px;
	background: rgb(18,17,17);
	position: relative;
}
.container{
	width: 335px;
	height: 645px;
	border: 1px solid black;
	border-radius: 30px;
	margin: 15px auto;
	background: white;
}

input{
	height: 200px;
	width: 310px;
	margin: 10px;
	text-align: right;
	font-size: 60px;
	font-family: 'Russo One', sans-serif;
	border:none;
}

.item , .itemZero{
	height: 64px;
	width: 64px;
	background: #999;
	float: left;
	margin: 8px 5px;
	text-align: center;
	border-radius: 10px;
	font-size: 45px;
	color: white;
	cursor: pointer;
	box-shadow: -6px 8px 5px 0px #555B53;
}

.itemZero{
	height: 65px;
	width: 140px;
}

.item:hover, .itemZero:hover {
	background:red;
}
.keys{
	width: 300px;
	height: 420px;
	margin: 0 auto;
}
#time{
	position: absolute;
	top: 20px;
	left: 235px;
}

 .battery {
 	position: absolute;
 	top: 23px;
	left: 280px;
	width: 30px;
	height: 8px;
	border: 2px solid #2c2c2c;
	box-shadow: inset 0 -0.2em 0.2em rgba(0,0,0,0.2);
}

.battery:after {
	content: '';
	display: block;
	position: relative;
	top: 2px;
	left: 2em;
	background: #2c2c2c;
	width: 3px;
	height: 5px;
}

.battery:before {
	content: '';
	position: absolute;
	display: block;
	top: 0.06em;
	left: 0.03em;
	width: 25px;
	height: 6px;
	background: #069C40;
}