input {
  width: 200px;
  font-size: 15px;
  padding: 12px;
  margin: 10px;
  display: inline-block;
  border: 3px solid rgb(95, 95, 95);
  border-radius: 5px;
}

div {
  border-radius: 5px;
  background-color: #fffacd;
  padding: 10px;
}

button {
  width: 230px;
  color: black;
  background: white;
  font-size: 15px;
  padding: 12px;
  margin: 1 0px;
  display: inline-block;
  border: 3px solid rgb(95, 95, 95);
  border-radius: 5px;
}

button:hover {
  color: white;
  background: rgb(95, 95, 95);
  border-color: black;
}

.table {
  font-size: 15px;
}
