#main_block{
    height: 50px;
    width: 400px;
    border:2px solid red;
    text-align: center;
}
#red{
    height: 40px;
    width: 40px;
    border:2px solid red;
    background: red;
    float: left;
    margin: 5px;
    border: 5px solid black;
    text-align: center;
}

#blue{
    height: 40px;
    width: 40px;
    border:2px solid blue;
    background: blue;
    float: left;
    margin: 5px;
    border: 5px solid black;
    text-align: center;
}