.calc {
  background-image: url("pendulum.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.calc .heading {
  margin-top: 100px;
  margin: 250;
  background-color: rgb(216, 243, 247);
  opacity: 0.65;
  filter: alpha(Opacity=65);
  color: rgb(2, 3, 24);
  font-family: sans-serif, bold;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.calc .number-input {
  margin-top: 170px;
  background-color: rgb(216, 243, 247);
  opacity: 0.8;
  filter: alpha(Opacity=80);
  color: rgb(2, 3, 24);
  font-family: sans-serif, bold;
  font-size: 27px;
  font-weight: 700;
}

.calc .calculator {
  text-align: center;
}
