.Input{
    height: 30px;
    width: 150px;
    font-size: 20;
}
#select{
    width: 80px;
    font-size: 20;
}
textarea{
    height: 30px;
    width: 200px;
    vertical-align: top;
    font-size: 20;
}